<section class='search'>
    <h1>Search</h1>

    <form class='search-form' method='GET'>
        <input
            type='text'
            class='search-name'
            name='name'
            value='{{name}}'
            placeholder='Search Name...'
        />
        <input
            type='text'
            class='search-type'
            name='type'
            value='{{type}}'
            placeholder='Search Type...'
        />
        <button type='submit' class='btn-search'>Search</button>
    </form>

    {{#if products}}
        <div class='search-result'>
            <div class='search-list'>

                {{#each products}}
                    <a
                        href='/products/{{_id}}/details'
                        class='added-electronics-in-market'
                    >
                        <img
                            src='{{image}}'
                            class='picture-added-electronics'
                        />
                        <h3>{{name}}</h3>
                        <span>Price: ${{price}}</span>
                    </a>
                {{/each}}
            </div>

        </div>
    {{else}}
        <div class='no-match'>
            <p>No match was found!</p>
        </div>

    {{/if}}
</section>